.pure-button-green {
  color: white;
  padding: 0.5em 1em;
  background-color: #16bb51;
  border-radius: 6px;
}


[data-validation] {
  font-size: 12px;
  color: orange;
  margin-top: -3px;
  display: block;
}
